# At every 15th minute
# For periodic mail checking
*/15 * * * * /home/mainberry/Dev/Scripts/LoadEnv.sh /home/mainberry/Dev/MailServer/fetch.py

# At minute 2 past every hour
# For periodic mail response
2 * * * * /home/mainberry/Dev/Scripts/LoadEnv.sh /home/mainberry/Dev/MailServer/reply.py

# At 07:01
# For daily summary
1 7 * * * /home/mainberry/Dev/Scripts/LoadEnv.sh /home/mainberry/Dev/LLM/summarize.py daily

# At 23:01 on Sunday
# For weekly summary
1 23 * * 0 /home/mainberry/Dev/Scripts/LoadEnv.sh /home/mainberry/Dev/LLM/summarize.py weekly

# At 00:01 on day-of-month 1
# For monthly summary
1 0 1 * * /home/mainberry/Dev/Scripts/LoadEnv.sh /home/mainberry/Dev/LLM/summarize.py monthly

# At 01:01 on day-of-month 1 in every 3rd month
# For quarterly summary
1 1 1 */3 * /home/mainberry/Dev/Scripts/LoadEnv.sh /home/mainberry/Dev/LLM/summarize.py quarterly